*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppines',sans-serif;
    scroll-behavior: smooth;
}

body{
    color: #ededed;
    background: #081b29;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: transparent;
    z-index: 100;

}
.logo{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
    position: relative;
    font-weight: 500;

}
.navbar a {
    display: inline-block;
    font-size: 26px;
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    margin-left: 36px;
    transition: .3s;   
}

.navbar a:hover{
    color: #0ef;

}

#icon{
    color: #fff;
    font-size: 41px;
    line-height: 45px;
    float: right;
    cursor: pointer;
    display: none;
}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background: url("rohit.png")no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 50px 51px;

}

.home-content{
    max-width: 600px;
}

.home .home-content .h3{
    font-size: 27px;
    font-weight: 200;
}

.home .home-content .para{
    font-size: 23px;
    font-weight: 100;
}

.home .home-content .name{
    font-size: 50px;
    font-weight: 500;
}

.home .home-content .home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    text-decoration: none;
    border: 2px solid #0ef;
    width: 40px;
    height: 40px;
    font-size: 23px;
    border-radius: 50%;
    color: #0ef;
    margin: 20px 20px 0;
}

.home-sci a:hover {
    background: rgb(53, 223, 235);
    color: #32adcf;
    box-shadow: 0 0 20px #0ef;
}

.btn-box{
    display: inline-flex;
    padding:  12px 29px;
    color: #081b08;
    border-radius: 40px;
    background: #0ef;
    margin-top: 25px;
    margin-left: 28px;
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: none;
}
.btn-box:hover {
    box-shadow: 0 0 20px rgb(201, 171, 241)f ;

}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0rem;
    padding-bottom: 4rem;
}

.about{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    height: 86vh;
}
.about-img img {
    padding-bottom: 33%;
    max-width: 630px;
    height: auto;
    width: 100%;
    border-radius: 8%;
    background-color: #081b29;

}
.about-text{
    margin-top: -200px;
}

.about-text h2{
    font-size: 64px;
}
.about-text h2 span{
    color: #0ef;
}
.about-text h3{
    font-size: 35px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.about-text p{
    font-size: 26px;
}

#sevices{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 70px;

}

.sub-title span{
    color: #0ef;
}
.countainer{
   padding: 85px;

}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
background-color: transparent;
padding: 40px;
font-size: 13px;
font-weight: 300;
border-right: 10px;
border-radius: 20px;
transition: background 0.5s, transform 0.5s;
box-shadow: 21px 18px 28px 6px rgba(126,69,199,0.68);
}

.services-list div i{
    font-size: 25px;
    margin-bottom: 30px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 14px;
}

.services-list div a{
    text-decoration: none;
    color: #081b08;
    font-size: 16px;
    margin-top: 12px;
    display: inline-block;
}

.services-list div p{
    font-size: 20px;
}
.read{
    display: inline-block;
    padding: 12px 12px;
    background: #0ef;
    border-radius: 40px;
    font-size: 17px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    animation: slidtop 1s ease forwards;
    animation-delay: 2s;
    box-shadow:  10px 10px 24px 15px rgba(0,0,0,0.75);
}

.read:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 21px 18px 28px 6px rgba(126,69,199,0.68);;

}
.services-list div:hover{
    transform: translateY(-20px);
}

.skills{
    display: flex;
    /* grid-template-columns: repeat(auto-fit,minmax(259px,1fr)); */
    justify-content: space-around;
    /* grid-gap: 0px; */
    margin-top: 10px;
    margin-left: 14px;
}

.skills div{
background-color: transparent;
padding: 10px;
font-size: 13px;
font-weight: 300;
border-right: 10px;
border-radius: 30px;
transition: background 0.5s, transform 0.5s;
box-shadow: 10px 10px 68px 3px rgba(21,235,114,1);
}

.skills div h2{
    font-size: 45px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 23px;
}
.skills div i{
    font-size: 30px;
    padding-bottom: 10px;
    padding-left: 10px;
} 

.skills div i span{
    font-size: 30px;
    padding-bottom: 15px;
    letter-spacing: 1px;

}

.skills div:hover{
    transform: translate(50px);
}


.main-text{
    padding-top: 110PX;
    margin-top: 100PX;
    margin-bottom: 80px;
}

.main-text h2{
    font-size: 40PX;
    line-height: 1;
    text-align: center;
    margin-bottom: 10px;

}
.main-text h2 span{
    color: #0ef;
}

.portfolio-content{
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(359px,auto)); 
}

.row{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    cursor: pointer;
    margin: 10px;
}
.row img{
    width: 100%;
    border-radius: 8px;
    display: inline-block;
    transition: transform 0.5s;
    height: 40vh;
    
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.1),#0ef);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layer h5{
    color: #000;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layer p{
    color: #000;
    font-size: 1rem;
    line-height: 1.8;
}
.layer i{
    color: red;
    margin-top: 20px;
    font-size: 20px;
    background: #fff0ff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.row:hover img{
    transform: scale(1.1);
}
.row:hover .layer{
    height: 100%;
}

.contect{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 50px;
    margin-top: 150px;
    
}
.contect-text h2{
    font-size: 60px;
    line-height: 1;
    text-align: center;

}
.contect-text h2 span{
    color: #0ef;
}

.contect-text h4{
    margin: 15px 0;
    color: white;
    font-size: 20px;
    font-weight: 600;

}
.contect-text p{
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list {
    margin-bottom: 1rem;
}
.contact-list li{
    margin-bottom: 10px;
    display: block;
    font-size: 20px;
}
.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li i:hover{
    transform: scale(1.01) translateY(-5px);
}

.contact-icons a{
    font-size: 30px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 1px;
}
.contact-icons a:hover{
    color: #32adcf;
    transform: translate(3px);
    
}
.download{
    padding-left: 40px;
    text-align: center;
}

.contact-form form{
    position: relative;
}
.contact-form form input,form textarea{

    border: none;
    outline: none;
    width: 90%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form form textarea{
    resize: none;
    height: 220px;

}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 16px;
    font-size: 17px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    animation: slidtop 1s ease forwards;
    animation-delay: 2s;
    box-shadow:  10px 10px 24px 15px rgba(0,0,0,0.75);
}

.contact-form form .send:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 21px 18px 28px 6px rgba(126,69,199,0.68);;

}

.last-text p{
    width: 100%;
    text-align: center;
    padding: 26px 0;
    background: rgb(7,85,91);
    font-weight: 300;
    margin-top: 70px;
}
.top{
    position: fixed;
    bottom: 2rem;
    right: 2,1rem;

}
.top i {
    color: #000;
    background: hsl(184, 100%, 50%);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;

}



/* -----------------------css for 850px-----------------------------------------------------------------------------*/
@media screen and (max-width: 850px) {
    .logo {
        color: #fff;
        font-size: 28px;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        /* padding-top: 5%; */
    }

    #icon {
        display: block;
        color: #fff;
        font-size: 41px;
        line-height: 80px;
        float: right;
        margin-top: 1%;
        padding-left: 88%;
        cursor: pointer;
    
    }

    .navbar{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #081b29;
        top: 81px;
        left: 28%;
        align-items: center;
        text-align: center;
    }

    .navbar a {
        display: block;
        margin: 50px 0;
        font-size: 26px;
        color: #fff;

    }

    #navbar.show{
        left: 113%;

    }
    

    .about-text {
        margin-top: 15px;
    }



}



/*------------------------------------- css for small screen ---------------------------------------------------------------------- */

@media screen and (max-width: 600px){

    .logo {
        color: #fff;
        font-size: 28px;
        text-decoration: none;
        position: relative;
        font-weight: 700;
        padding-top: -1%;
        margin-top: -6%;
        margin-bottom: 1%;
    }


    .navbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #081b29;
        top: 58px;
        left: 24%;
        align-items: center;
        text-align: center;
    }


    #icon {
        display: block;
        color: #fff;
        font-size: 41px;
        line-height: 80px;
        float: right;
        margin-top: -5%;
        padding-left: 77%;
    }


    #navbar.show{
        left: 107%;

    }

    
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 69vh;
    background: #081b29;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 63px 60px;
}

.home .home-content .h3{
    font-size: 31px;
    font-weight: 200;
}

.home .home-content .para{
    margin-top: 2%;
    font-size: 28px;
    line-height: 1;
    width: -3vw;
    font-weight: 100;
}

.home .home-content .name{
    font-size: 56px;
    font-weight: 500;
}

.about{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    height: 86vh;
}
.about-img img {
    padding-bottom: 33%;
    max-width: 630px;
    height: auto;
    width: 90%;
    border-radius: 8%;
    background-color: #081b29;

}
.about-text{
    margin-top: -200px;
}

.about-text h2{
    font-size: 55px;
    padding-left: 25%;

}
.about-text h2 span{
    color: #0ef;
}
.about-text h3{
    font-size: 34px;
    padding-left: 19%;
    margin-top: 2px;
    margin-bottom: 2px;
}
.about-text p{
    font-size: 26px;
    /* padding-inline: 8%; */
    /* width: 60vw; */
    padding-left: 2%;
    margin-top: 2%;
}

.countainer{
    padding: 39px;
    margin-top: 40%;
    width: 100%;
 
 }
 

 .sub-title{
    text-align: center;
    font-size: 54px;
    padding-bottom: 70px;
    margin-top: 15%;

}

.skills{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    height: 83vh;
    margin-top: 10px;
    margin-left: 94px;
    width: 70vw;
}
  
.main-text{
    padding-top: 10PX;
    margin-top: 100PX;
    margin-bottom: 80px;
}

.main-text h2{
    font-size: 54PX;
    line-height: 1;
    text-align: center;
    margin-bottom: 33px;

}

.row img{
    width: 100%;
    border-radius: 30px;
    display: inline-block;
    transition: transform 0.5s;
    height: 35vh;
    
}


.contect{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
    gap: 4rem;
    padding-left: 50px;
    margin-top: 140px;
    
}


.contect-text h2{
    font-size: 57px;
    padding-left: 3%;
    margin-top: -11%;
    line-height: 1;
    text-align: center;
    margin-right: 16%;
}


.contect-text h4{
    margin: 15px 0;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.contect-text p{
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 2rem
}
.contact-list {
    margin-bottom: 1rem;
}

.contact-list li{
    margin-bottom: 10px;
    display: block;
    font-size: 24px;
}

.contact-list i{
    display: inline-block;
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-icons a {
    font-size: 40px;
    border-radius: 8px;
    margin-bottom: 10px;
    padding-left: 15px;
    margin-top: 1px;
}

.read {
    display: inline-block;
    padding: 14px 23px;
    background: #0ef;
    border-radius: 40px;
    font-size: 17px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    animation: slidtop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 10px 10px 24px 15px rgba(0, 0, 0, 0.75);
    margin-left: -77%;
    margin-top: 5%;
}


}



/* ---------------------------------------css for 450 px----------------------------------------------------------- */

@media screen and (max-width: 450px){ 
    
    #icon {
        display: block;
        color: #fff;
        font-size: 41px;
        line-height: 8px;
        float: right;
        margin-top: -5%;
        /* padding: 7%; */
        padding-left: 1%;
        margin-left: 63%
    }

    .navbar {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #081b29;
        top: 35px;
        left: 19%;
        align-items: center;
        text-align: center;
    }

    #navbar.show{
        left: 105%;

    }

    

    
    .home{
        position: relative;
        width: 100%;
        justify-content: space-between;
        height: 85vh;
        background: #081b29;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        padding: 63px 60px;
    }
    
    .home .home-content .h3{
        font-size: 27px;
        font-weight: 200
    }
    
    .home .home-content .para{
        margin-top: 5%;
        font-size: 25px;
    }
    
    .home .home-content .name{
        font-size: 45px;
        font-weight: 500;
    }
    
    .about{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        height: 86vh;
    }
    .about-img img {
        padding-bottom: 33%;
        max-width: 630px;
        height: auto;
        width: 101%;
        border-radius: 8%;
        background-color: #081b29;
        
    }
    .about-text{
        margin-top: -200px;
    }
    
    .about-text h2{
        font-size: 53px;
        padding-left: 24%;
        margin-top: 5%;
        
    }
    .about-text h2 span{
        color: #0ef;
    }
    .about-text h3{
        font-size: 34px;
        padding-left: 13%;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    
    .about-text p{
        font-size: 22px;
        /* padding-inline: 8%; */
        /* width: 60vw; */
        padding-left: 5%;
        margin-top: 2%;
    }
    
    
    .countainer {
        padding: 34px;
        margin-top: 43%;
        width: 100%;
        
    }
    
    .sub-title{
        text-align: center;
        font-size: 54px;
        padding-bottom: 70px;
        margin-top: 15%;
        
    }
    
    .skills {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 1.5rem;
        justify-content: center;
        height: 83vh;
        margin-top: 11px;
        margin-left: 68px;
        width: 70vw;
    }
    
    .main-text{
        padding-top: 10PX;
        margin-top: 100PX;
        margin-bottom: 80px;
    }
    
    .main-text h2{
        font-size: 54PX;
        line-height: 1;
        text-align: center;
        margin-bottom: 33px;
    
    }
    
    .row img{
        width: 100%;
        border-radius: 30px;
        display: inline-block;
        transition: transform 0.5s;
        height: 35vh;
        
    }
    
    
    .contect{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        gap: 4rem;
        padding-left: 50px;
        margin-top: 140px;
        
    }
    
    
    .contect-text h2{
        font-size: 57px;
        padding-left: 3%;
        margin-top: -11%;
        line-height: 1;
        text-align: center;
        margin-right: 16%;
    }
    
    
    .contect-text h4{
        margin: 15px 0;
        color: white;
        font-size: 24px;
        font-weight: 600;
    }
    .contect-text p{
        color: #fff;
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 2rem
    }
    .contact-list {
        margin-bottom: 1rem;
    }
    
    .contact-list li{
        margin-bottom: 10px;
        display: block;
        font-size: 24px;
    }
    
    .contact-list i{
        display: inline-block;
        color: #0ef;
        font-size: 20px;
        font-weight: 600;
        transition: all .40s ease;
    }
    
    .contact-icons a {
        font-size: 40px;
        border-radius: 8px;
        margin-bottom: 10px;
        padding-left: 15px;
        margin-top: 1px;
    }
    
    .read {
        display: inline-block;
        padding: 14px 23px;
        background: #0ef;
        border-radius: 40px;
        font-size: 17px;
        color: #081b29;
        letter-spacing: 1px;
        text-decoration: none;
        font-weight: 500;
        animation: slidtop 1s ease forwards;
        animation-delay: 2s;
        box-shadow: 10px 10px 24px 15px rgba(0, 0, 0, 0.75);
        margin-left: -77%;
        margin-top: 5%;
        
    }
    
}
    
    
